.flex-h, footer{

    display: flex;

    justify-content: space-around;

    align-items: center;

    background-color: rgb(51, 199, 184);

}

body{

    margin: 0;

    background-color: rgba(255, 124, 80, 0.58);

}

.contact{

    background-color: bisque;

    border-radius: 30px;

    padding: 0 5px;

}

.flex-h img, img{

    width: 60px;

    margin: 0 10px;

}

footer{

    position: fixed;

    bottom: 0;

    left: 0;

    width: 100%;
    background-color: rgb(0, 159, 62);

}

.ui-dialog-titlebar {
    background-color: rgb(51, 199, 184);
}
.ui-widget-content {
    background-color: white;
}
.ui-resizable-handle {
    background-color: rgb(0, 159, 62);
}
h3 {
    margin-right: 100px;
    margin-left: 100px;
}